/*place global styles here */

html, body { @apply h-full; }

@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk.ttf');
	font-display: swap;
}

:root {
	--theme-rounded-base: 20px;
	--theme-rounded-container: 4px;
}

.radio-group > label {
    flex-grow: 1;
}
